{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>To Do App</title>
</head>

<body>
    <h1>This is my to do app</h1>

    <form class="col-lg-6 offset-lg-3" action="/addTodo/" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="content" placeholder="Add your item"
                aria-label="Add your item" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="submit" id="button-addon2" value="Add">Add</button>
            </div>
        </div>
    </form>

    <ul class="col-lg-6 offset-lg-3">
        {% for todo_item in all_items %}
        <li class="list-group-item">{{ todo_item.content }}
            <form action="/deleteTodo/{{ todo_item.id }}/" style="display: inline;" method="POST">
                {% csrf_token %}
                <button type="submit" class="close" aria-label="Close" value="Delete">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Font awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.1/css/font-awesome.min.css">
</body>

</html>